/*---My Section--*/



.three-in-row{
    float: left;
    width: 20%;
    border: double;
    border-color: red;
    padding-left: 10px;
}
.three-in-row.solicitud{
    width: 50%;
}

.three-in-row.notas{
    width: 20%;
}

.text-box-size{
    width: 30%;
    align-self: center;
}
.texto{
    resize: none;
    min-height: 100px;

}

.text-area{
    width: 97%;
    resize: none;
    height: auto;
    word-wrap: normal;
    margin-bottom: 10px;
}

.my-error{
    font-size: 100%;
    color: red;
    font-style: italic;
}

.error.help-block{
    font-size: 100%;
    color: red;;
}

.extras{
    float: left;
    margin-right: 5px;
    padding-top: 5px;
}

.my-btn{
    margin-bottom: 10px;
}

.datos-paciente{
    width: 95%;
    font-size: 150%;
}

.datos-paciente-sol{
    font-size: 150%;
    background-color: #444444;
    color: white;
}

.three-row{
    float: left;
    width: 33%;
    margin: 0;
}


.my-h4{
    font-weight: bold ;
}

.header-p {
    font-size: 108%;
    font-weight: bold;
    color: white;
}

.only_number{
   max-width: 100%;
}
.my-h5{
    align-content: center;
}

.th-mine {
    font-style: normal;
    font-weight: bolder;

    width: 25%;

}

.td-mine {
    width: auto;
}

.my-table {
    width: 50%;
    max-width: 80%;
    min-width: 40%;
    margin-bottom: 20px;

}

/*--- New Styles --*/

#logo {
    margin: 15px;
    float: left;
    width: 120px;
    height: 60px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

header {
    background-color: #337ab7;
    width: 100%;
    height: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

footer {
    background-color: #337ab7;
    width: 100%;
    height: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}

.header-inn {
    max-width: 1200px;
    margin: 0 auto;
}

.user-info {
    color: white;
    font-weight: bold;
    font-size: 130%;
    padding: 15px 5px 0px 5px;

}

.user-logout {
    color: white;
    font-weight: bold;

}

.user-logout:hover {
    color: wheat;
}

.title-mine {
    font-size: 200%;
    font-weight: bold;
    color: white;
    padding: 5px 5px 0px 10px;
}

.my-menu {
    padding: 5px 0px 5px 10px;
}

.panel-heading.datos-paciente-sol {
    font-weight: 200;
}

.copyright {
    font-weight: bold;
    font-size: 95%;
}

.notes {
    font-size: 120%;
    font-weight: lighter;
    text-align: justify;
    text-wrap: normal;
}

.my-panels {
    min-height: 550px;
    height: auto;
}

.login {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.login-body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#login-sha {
    max-width: 340px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    border-radius: 6%;
}

.top-separator {
    padding-top: 10px;

}

.bottom-separator{
    padding-bottom: 10px;
}

.footer{
    color: white;
    font-weight: bold;
    font-size: 130%;
    padding: 5px 0px 5px 0px;
}

.form-title{
    margin-left: 15px;
}

.item-count{
    font-weight: bold;
    padding-top: 3px;
    text-align: justify;
    font-size: 110%;
    float: right;
}

.search-input{
    max-width: 200px;
}

/*Hide in vertical xs*/

@media (max-width: 620px){
    .my-hidden-620v{
        display: none !important;
    }
}@media (max-width: 1000px){
    .my-hidden-1000v{
        display: none !important;
    }
}


.shadow{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    border-radius: 1%;
}
.my-active{
    background-color: #dddddd;
    font-weight: bold;
}

.button-separator{
    margin: 10px 10px 10px 0px;
}

.my-pan-title{
    font-weight: bold;
}

.right-separator{
    padding-right: 10px;
}

div.radios label.required{
    font-weight: normal;
    padding-right: 5px;
    justify-content: center;
    margin-right: 5px;
}

h5.panel-title.form-group{
    margin-bottom: 15px;
}

ul.bolsas{
    list-style: none;

}
ul.bolsas li{
    display: inline;
}

a#plus-sign{
    padding: 27px 15px 0px 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    margin-left: -10px;
}
div#plus{
    padding-right: 0px;
    padding-left: 0px;
}









