{% extends 'base.html.twig' %}

{% block body %}

    <div class="shadow">
        <input id="module" type="hidden" value="bolsa">
        <div id="search_bolsas">
            <div class="panel panel-default my-panels">
                <div class="panel-heading">
                    <h2 class="h2 form-title">Buscar unidad de sangre</h2>
                </div>

                <div class="panel-body">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                        {#<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">#}
                        <div>
                            <div class="col-md-6 col-sm-8 col-xs-5 col-lg-6 top-separator search-input">
                                <label for="search_input">Código a buscar.</label>
                                <input type="text" placeholder="Ej. 120394" id="search_input" class="only_number" maxlength="11"
                                       minlength="11">

                            </div>
                            {#<div class="clearfix visible-xs"></div>#}

                            <div class="col-md-4 col-sm-4 col-xs-5 col-lg-4 top-separator">
                                <a id="search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                            <div id="empty_msg" class="alert-danger hidden">
                                <h4>Debe introducir al menos un número.</h4>
                            </div>
                            <div id="searched" class="hidden">
                                <div id="error_msg" class="alert-info hidden">
                                    <h4>No existen unidades de sangre con esa secuencia de números en su código.</h4>
                                </div>


                                <div id="units_data" class="hidden">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                                        <table class="table table-responsive">
                                            <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody id="search_table_body">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                            <h4 class="h4 notes">Pasos a seguir:</h4>
                            <p class="notes">
                                - Introduzca el código de la unidad para su búsqueda en el
                                sistema.
                                <br>
                                - Espere unos segundos mientras se realiza la búsqueda.
                                <br>
                                - Presione el botón con la opción deseada.
                                <br>
                                <br></p>
                            <h4 class="h4 notes">Notas:</h4>
                            <p class="notes">
                                - Puede escribir parte o todo el código de la unidad a buscar.
                                <br>
                                - El sistema brindara las opciones correspondientes al resultado de su búsqueda.

                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
    {#{% include 'all-js.html.twig' %}#}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/myJS/set-styles.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/myJS/searches.js') }}"></script>
{% endblock %}
