{% extends 'base.html.twig' %}

{% block body %}
    <input id="module" type="hidden" value="bolsa_search">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="panel panel-default my-panels">

                <div class="panel-heading">
                    <h1 class="h2 form-title">Buscar unidad de sangre</h1>
                </div>


                <div class="panel-body">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 separator">
                            <div>
                                <label for="paciente_ciPaciente">Código de la unidad</label>
                                <div>
                                    <input type="text" placeholder="Ej. 120394" id="paciente_ciPaciente"
                                           class="only_number paciente_ci search-input"
                                           maxlength="11" minlength="11">
                                </div>
                            </div>



                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 separator">
                                <h4 class="h4 notes">Pasos a seguir:</h4>
                                <p class="notes">
                                    - Introduzca el código de la unidad para su búsqueda en el
                                    sistema.
                                    <br>
                                    - Espere unos segundos mientras se realiza la búsqueda.
                                    <br>
                                    - Presione el botón con la opción deseada.
                                    <br>
                                    <br></p>
                                <h4 class="h4 notes">Notas:</h4>
                                <p class="notes">
                                    - Puede escribir parte o todo el código de la unidad a buscar.
                                    <br>
                                    - El sistema brindara las opciones correspondientes al resultado de su búsqueda.

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">


                        <div id="block-patient" class="hidden">
                            <div id="datos_paciente" class="datos-paciente">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    {% include 'all-js.html.twig' %}

{% endblock %}

